MainScreen {
    layout: horizontal;
}

MailBoxPart {
    width: 25;
}

SearchPart {
    align-vertical: middle;
}

NoAttachmentsPart {
    align-vertical: middle;
}

NoAttachmentsPart Button {
    margin-top: 1;
    background: $primary;
}

NoAttachmentsPart Label {
    color: $warning;
}

NoAttachmentsPart .hidden {
    display: none;
}

MainScreen TabbedContent {
    height: 1fr;
}

MainScreen TabbedContent>ContentSwitcher {
    height: 1fr;
}

MainScreen TabbedContent TabPane {
    padding: 0 1;
}